// Global styling for this template

body {
  @include body-font;
  padding-top: 54px;
  color: $colorhunt-white;
}
@media (min-width: 992px) {
  body {
    padding-top: 0;
    padding-left: $sidebar-base-width;
    &::-webkit-scrollbar  {
      background-color: $colorhunt-black;
      width: .4rem;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $colorhunt-red-1;
    }
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include heading-font;
  font-weight: 700;
  text-transform: uppercase;
  color: $colorhunt-white;
}

h1 {
  font-size: 4.3rem;
  line-height: 5.5rem;
  @media (min-width: 992px) {
    font-size: 6rem;
  }
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 2rem;
}

p.lead {
  font-size: 1.15rem;
  font-weight: 400;
}

.subheading {
  text-transform: uppercase;
  font-weight: 500;
  @include heading-font;
  font-size: 1.5rem;
}

.social-icons {
  a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: $colorhunt-grey;
    color: $colorhunt-white !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
    transition: all .3s;
    &:last-child {
      margin-right: 0;
    }
    &:hover {
      background-color: $colorhunt-red-2;
    }
  }
}

.dev-icons {
  font-size: 3rem;
  .list-inline-item i {
    transform: scale(1);
    transition: all .3s;
    &:hover {
      color: $colorhunt-red-1;
      padding: 0 1.5rem;
      transform: scale(2);
    }
  }
}

.certificate {

  &:link,
  &:visited {
    color: $colorhunt-white;
    transition: all .2s;
  }

  &:hover {
    color: $colorhunt-red-1;
    text-decoration: none;
  }
}
